{% extends "layout.html" %}
{% block content %}
<center>
<div class="starter-template">
    <h2>Message and Tweet Classification</h2>
    <p>made for the final project of <b>JCDS 07 - Purwadhika </b> by <b>Linda Andiyani</b></p>
    <p>Dataset used to make this project are: </p>
    <a class="btn btn-outline-info" href="https://github.com/meisaputri21/Indonesian-Twitter-Emotion-Dataset" target="_blank" role="button">Twitter Dataset</a>
    <a class="btn btn-outline-info" href="https://www.kaggle.com/team-ai/spam-text-message-classification" target="_blank" role="button">Spam Dataset</a>
</div>
</center>
{% endblock content %}