{% extends "layout.html" %}
{% block content %}
    <center>
    <div class="starter-template">    
        <br>
        <br>
        <br>
    <h1><b>Your Sentence Contains Indonesian Language</b></h1>
    </div>
        <br>
        <a href="{{ url_for('sms') }}" class="btn btn-outline-info" role="button" aria-pressed="false">Analysis Again</a>
        <a href="{{ url_for('home') }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="false   ">Back to Home</a>
        <br>
        <br>
    <img src="{{graph}}" align='middle'/>
    <br>
    </form>
    </center>
{% endblock content %}