{% extends "layout.html" %}
{% block content %}
<center>
<div class="jumbotron">
        <h1 class="display-4">Customer Email Handling</h1>
        <h5 class="display-5">(Using NLP)</h5>
        <hr class="my-4">
          <h1 class="lead">What is NLP ?</h1>
          <p>Natural Language Processing (NLP) is an area of computer science and artificial intelligence concerned with interactions between computer and human(natural) language.</p>
          <a class="btn btn-outline-info" href="https://medium.com/@ODSC/an-introduction-to-natural-language-processing-nlp-8e476d9f5f59" target="_blank" role="button">Learn more</a>
      </div>
    </center>

{% endblock content %}