{% extends "layout.html" %}
{% block content %}
<center>
    <div class="container">
            <form role="form" id="isi-tweet" action="http://localhost:5000/tweet" method="POST">
                        <br>
                        <div class="starter-template">
                            <h2>Analisis Kecenderungan Emosi Customer Berdasarkan Body Email </h2>
                        </div>
                        <br><br>
                          <div class="row">
                              <div class="col-md-12">
                              <div class="form-group">
                                <label for="tweetform">Masukkan isi (body) email customer</label>
                                <textarea class="form-control textarea" rows="3" maxlength="500" name="tweet" id="tweetform" autofocus="" placeholder="Masukan isi (body) email disini"></textarea>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                      <button id="button-analisis" type="submit" class="btn btn-outline-info">Analisa</button>
                      </div>
                      </div>
            </form>
        </div>
</center>
{% endblock content %}